<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row"><div class="col-lg-8 offset-lg-2 text-center"><div class="breadcrumb-text"><p>See more Details</p><h1>Honey Product</h1></div></div></div>
    </div>
</div>

<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5"><div class="single-product-img"><img src="frontend/img/products/product-img-1.png" alt=""></div></div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>Basswood Honey</h3>
                    <p class="single-product-pricing"><span>Raw & Unfiltered Honey 425 g.</span> $20</p>
                    <p>Our Basswood Honey Jar (425 g) is a true testament to nature’s finest offerings... </p>
                    <div class="single-product-form">
                        <form action="#cart"><input type="number" placeholder="0"></form>
                        <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
