<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic Honey</p>
                    <h1>Welcome to Our Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li data-filter="*" class="active">All</li>
                        <li data-filter=".honey">Honey</li>
                        <li data-filter=".comb">Honeycomb</li>
                        <li data-filter=".cream">Cream</li>
                        <li data-filter=".chapstick">Chapstick</li>
                        <li data-filter=".soap">Soap</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-1.png" alt=""></a></div>
                    <h3>Basswood Honey</h3>
                    <p class="product-price"><span>Organic & Unfltered (425 g)</span> 15$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center honey">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-1.png" alt=""></a></div>
                    <h3>Basswood Honey</h3>
                    <p class="product-price"><span>Basswood Honey</span> 29$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center comb">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-2.png" alt=""></a></div>
                    <h3>Smiley Honeycomb</h3>
                    <p class="product-price"><span>Smiley Honeycomb</span> 30$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center cream">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-7.png" alt=""></a></div>
                    <h3>Creamed Honey</h3>
                    <p class="product-price"><span>Creamed Honey</span> 15$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center chapstick">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-3.png" alt=""></a></div>
                    <h3>Honey Lipbalm</h3>
                    <p class="product-price"><span>Honey Lipbalm 15ml</span> 3$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center soap">
                <div class="single-product-item">
                    <div class="product-image"><a href="#product1"><img src="frontend/img/products/product-img-5.png" alt=""></a></div>
                    <h3>Honey Soap</h3>
                    <p class="product-price"><span>Per Product</span> 3$ </p>
                    <a href="#cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#product1" class="cart-btn view-product-link">View Product</a>
                </div>
            </div>
        </div>
    </div>
</div>
